{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container ticket-container">
  <h2>Modifier le ticket</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
        {% if ticket.image %}
            <div class="current-image">
                <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
            </div>
        {% endif %}
        {{ form.image }}
    </div>
      <div class="button-move">
        <button type="submit" class="custom_button">Envoyer</button>
      </div>
  </form>
</div>
{% endblock %}