{% extends 'base.html' %}
{% block content %}
    <h2>Posts</h2>
    <form method="get" action="{% url 'ticket_and_review_create' %}">
        <button type="submit">Nouveau Ticket</button>
    </form>
    <ul>
        {% for ticket in object_list %}
            <li>
                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} Image">
                {% endif %}
                <a href="{% url 'ticket_update' ticket.pk %}">Modifier</a>
                <a href="{% url 'review_create' ticket.pk %}">Créer critique</a>


                <ul>
                {% for review in ticket.review_set.all %}
                    <li>
                        <h4>{{ review.headline }}</h4>
                        <p>Notation: {{ review.rating }}</p>
                        <p>{{ review.body }}</p>
                        <!-- Ajoutez d'autres informations de la review ici si nécessaire -->
                        <a href="{% url 'review_update' ticket.pk %}">modifier critique</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
