{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITRevu</title>
    {% compress css %}
    <link href="{% static 'sass/style.scss' %}" type="text/x-scss" rel="stylesheet" />
    {% endcompress %}
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'body/header.html' %}
    {% else %}
        {% include 'registration/header.html' %}
    {% endif %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>