{% extends 'base.html' %}
{% block content %}
<div class="split-container">
    <!-- Section Inscription à gauche -->
    <div class="signup-section">
        <h2>Inscrivez-vous maintenant</h2>
        <div class="signup-button-wrapper">
            <form method="get" action="{% url 'register' %}">
                <button type="submit" class="custom_button">S'inscrire</button>
            </form>
        </div>
    </div>

    <!-- Section Connexion à droite -->
    <div class="login-section">
        <h2>Connexion</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="input-wrapper">
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="{{ form.username.label }}">
            </div>
            <div class="input-wrapper">
                <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}">
            </div>
            <button type="submit" class="custom_button">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}


